<% @posts.each do |post| %>
  <% if post.published %>
    <div><%= link_to post.author.name, author_path(post.author) %></div>
    <div><%= post.title %></div>
    <div><%= post.content %></div>
  <% end %>
<% end %>
